:root {
  /* Main colors*/
  --primary-color: #4b6a9b;
  --secondary-color: #2b3442;
  --accent-color: #0079ff;
  --body-bg: #f6f8ff;

  /* second main colors */
  --Greyish-blue: #697c9a;
  --Very-greyish-white: #fefefe;
  --white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--body-bg);
  color: var(--primary-color);
  font-size: 1.5rem;
}

h1 {
  font-size: 2.6rem;
  color: var(--secondary-color);
}

h2 {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

p {
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/* Icons  */
.icon-social {
  display: flex;
}

.icon-social__name {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

.icon-social__name:hover {
  text-decoration: underline;
}

/* Followers */

.subscribers {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1.5rem;
}

.subscribers p {
  margin-bottom: 0.8rem;
}

.subscribers__number {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .subscribers__number {
    font-size: 2.2rem;
  }
}

/* Buttons */
.btn {
  border: none;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  margin-left: 1.3rem;
  padding: 1.1rem 0;
  outline: none;
  width: 84px;
  transition: all 0.3s;
}

.btn--primary {
  background-color: var(--accent-color);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: #60abff;
}

@media screen and (min-2idth: 768px) {
  .btn {
    width: 106px;
  }
}

/* Form */
.form {
  background-color: var(--white);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  margin-top: 4rem;
}

.form__input {
  flex-grow: 1;
  border: none;
  outline: none;
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: inherit;
  color: var(--primary-color);
}

.form__error-text {
  /* margin-right: 1rem; */
  color: #f74646;
  align-self: center;
  margin-bottom: 0;
}

.form__search {
  align-self: center;
  margin: 0 0.8rem 0 1rem;
}

::placeholder {
  color: var(--primary-color);
  font-size: 1.3rem;
}

@media screen and (min-with: 768px) {
  .form__input {
    font-size: 1.8rem;
  }

  ::placeholder {
    font-size: 1.8rem;
  }
}
