:root {
  /* Main colors*/
  --primary-color: #4b6a9b;
  --secondary-color: #2b3442;
  --accent-color: #0079ff;
  --body-bg: #f6f8ff;

  /* second main colors */
  --Greyish-blue: #697c9a;
  --Very-greyish-white: #fefefe;
  --white: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding-bottom: 10rem;
}

main {
  max-width: 730px;
  height: 611px;
}

h1 {
  font-size: 2.6rem;
  color: var(--secondary-color);
}

h2 {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

p {
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  margin-bottom: 0;
}

.switch-mode {
  display: flex;
  cursor: pointer;
}

.switch-mode__name {
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
}

.switch-mode:hover {
  color: var(--secondary-color);
}

.switch-mode__icon:hover {
  fill: var(--secondary-color);
}
/* Icons  */

.icon-social {
  display: flex;
  margin-bottom: 1.6rem;
}

.icon-social__name {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
}

.icon-social__name:hover {
  text-decoration: underline;
}

.location {
  margin-left: 2rem;
}

@media screen and (min-width: 768px) {
  .links {
    display: flex;
    justify-content: space-between;
  }

  .links-first {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .links {
    margin-left: 126px;
  }
}

/* Followers */

.subscribers {
  border-radius: 10px;
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1.5rem;
  margin: 2.3rem 0 2.4rem;
}

.subscribers p {
  margin-bottom: 0.8rem;
}

.subscribers__number {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .subscribers__number {
    font-size: 2.2rem;
  }
}

/* Buttons */
.btn {
  border: none;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  margin-left: 1.3rem;
  padding: 1.1rem 0;
  outline: none;
  width: 84px;
  transition: all 0.3s;
}

.btn--primary {
  background-color: var(--accent-color);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: #60abff;
}

.btn-switcher {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--primary-color);
}

.btn-switcher:hover {
  color: var(--secondary-color);
}

.switch-mode__icon {
  margin-left: 5px;
  vertical-align: bottom;
}

@media screen and (min-2idth: 768px) {
  .btn {
    width: 106px;
  }
}

/* Form */
.form {
  background-color: var(--white);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  margin-top: 3.6rem;
}

.form__input {
  flex-grow: 1;
  border: none;
  outline: none;
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-family: inherit;
  color: var(--primary-color);
}

.form__error-text {
  /* margin-right: 1rem; */
  color: #f74646;
  align-self: center;
  margin-bottom: 0;
}

.form__search {
  align-self: center;
  margin: 0 0.8rem 0 1rem;
}

::placeholder {
  color: var(--primary-color);
  font-size: 1.3rem;
}

@media screen and (min-with: 768px) {
  .form__input {
    font-size: 1.8rem;
  }

  ::placeholder {
    font-size: 1.8rem;
  }
}

/* Profile header */
.profile {
  background-color: var(--white);
  border-radius: 15px;
  margin-top: 1.6rem;
  padding: 3.2rem 2.4rem 4.7rem;
}

.header {
  display: flex;
  margin-bottom: 3.3rem;
}

.header__content-name h2 {
  margin-bottom: 0;
}

.header__content-name h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--accent-color);
  margin-bottom: 0.6rem;
}

.header__content {
  width: 100%;
}

.header__image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-right: 1.9rem;
}

@media screen and (min-width: 768px) {
  .profile {
    margin-top: 2.4;
  }

  .header__image {
    width: 117px;
    height: 117px;
  }

  .header__content-name h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    margin-bottom: 0;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
  }

  .header__bio,
  .subscribers {
    margin-left: 126px;
  }
}
